.datatable {
    margin-top: 0.75em; // compensate header nav negative margin

    @include media-desktop {
        max-width: calc(1024px - 2rem);
        margin: 0 auto;
    }

    @include media-tablet {
        padding: 0 3em;
    }

    @include media-mobile {
        padding: 0 2em;
    }

    &__row {
        background-color: rgba(35, 76, 76, 0.76);

        &--header {
            border-bottom: 1px solid #fff;

            & > span {
                font-size: 1.5em;
            }
        }
    }

    &__cell {
        color: #fff;
        text-align: center;
    }

}
