@import "../../styles/variables";

.AddPlayer {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(35, 76, 76, 0.76);
    padding: 1em 2em 2em 2em;

    button.button {
        width: 100%;
        background-color: $button-color--primary;
        transition: background-color 150ms linear;

        &:hover {
            background-color: lighten($button-color--primary, 5%);
        }
    }
}
