.App {
    height: 100%;

    &:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url("./assets/img/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;

        filter: blur(6px);
        transform: scale(1.05); // scale out blurred edges
    }

  header {
    color: white;

    h1 {
        font-size: 2em;
    }
  }
}
